
body {
  background-color: rgba(225, 246, 199, 0.305);
  margin: 20px;
}

h1 {
    color: rgb(89, 124, 126);
    text-align: center;
    
  }
.title {
    font-variant: small-caps;
}



p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    font-size: 20px;
}

